body {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  line-height: 1;
}

/* MAIN DIV ---------------- */
.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#time-block {
  min-width: 68px;
  max-width: 68px;
  display: block;
}

.input-group {
  padding-bottom: 0.7%;
  }
/* MAIN DIV (end) ---------------- */


/* BUTTONS ---------------- */
.two-buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
}

#clearPlannerBtn {
  margin-left: auto;
}

#saveChangeBtn, #clearPlannerBtn {
  background-color: #7cb9e86d;
  border-color: #7cb9e86d;
  color: black;
  font-weight: 500;
  font-size: small;

  cursor: pointer;
  display: inline-block;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
}

/* BUTTONS (end) ---------------- */

/* CHECKBOX ---------------- */
.form-check-input:checked {
  background-color:#7CB9E8;
  border-color: #7CB9E8;
}

/* CHECKBOX (end) ---------------- */







/* MEDIA QUERY ---------------- */
@media only screen and (max-width: 1300px) {
  /* MAIN DIV  */
  .input-group {
    padding-bottom: 6%;
  }


  /* BUTTONS */
  .two-buttons {
    padding-bottom: 4%;
    padding-top: 8%;
  }

}
/* MEDIA QUERY (end) ---------------- */

